@model IEnumerable<string>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Pizzeria List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Pizzeria" asp-action="CreatePizzeria" class="btn btn-outline-primary"><i class="bi bi-file-plus-fill"></i>Create New Pizzeria</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th />
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @item
                    </th>
                    <th>
                        <a asp-controller="Pizzeria" asp-action="UpdatePizzeria" class="btn btn-success"><i class="bi bi-pencil-fill"></i></a>
                        <a asp-controller="Pizzeria" asp-action="DeletePizzeria" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>